PORT=3002
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/SiteEsport
JWT_SECRET=change_me_random_secret
ADMIN_TOKEN=change_me_admin_token

FRONTEND_URL=https://tournoi-esport.vercel.app

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
